$white-clr: #fff;
$white-clr-200: #d0d0d0;
$black-clr: #1b1b1b;

$dashboard-gray-clr: #2c2c2c;
$dashboard-border-clr: #444;

$light-gray-clr: #5a5a5f;
$dark-gray-clr: #1c1c1f;

$primary-clr-50: #d8eaff;
$primary-clr-100: #cde4ff;
$primary-clr-200: #b7d9fe;
$primary-clr-300: #a0cdfe;
$primary-clr-400: #8ac1fe;
$primary-clr-500: #74b5fe;
$primary-clr-600: #6198d5;
$primary-clr-700: #4f7bad;
$primary-clr-800: #3c5e84;
$primary-clr-900: #2a415b;

$secondary-clr-50: #c1c8ce;
$secondary-clr-100: #b0b8c0;
$secondary-clr-200: #8d98a4;
$secondary-clr-300: #697888;
$secondary-clr-400: #46596c;
$secondary-clr-500: #233950;
$secondary-clr-600: #1d3043;
$secondary-clr-700: #182736;
$secondary-clr-800: #121e2a;
$secondary-clr-900: #0d151d;

$ternary-clr-50: #f5bdc8;
$ternary-clr-100: #f2aab9;
$ternary-clr-200: #ed859a;
$ternary-clr-300: #e75f7a;
$ternary-clr-400: #e23a5b;
$ternary-clr-500: #dc143c;
$ternary-clr-600: #b91132;
$ternary-clr-700: #960e29;
$ternary-clr-800: #720a1f;
$ternary-clr-900: #4f0716;

$yellow-clr-500: #ffff00;

$max-width: 1000px;
