$white-clr: #fff;
$black-clr: #000000;

// GRAY
$gray-clr-100: hsl(0, 0%, 45%);
$gray-clr-200: hsl(0, 0%, 40%);
$gray-clr-300: hsl(0, 0%, 35%);
$gray-clr-400: hsl(0, 0%, 30%);
$gray-clr-500: hsl(0, 0%, 25%);
$gray-clr-600: hsl(0, 0%, 20%);
$gray-clr-700: hsl(0, 0%, 15%);
$gray-clr-800: hsl(0, 0%, 10%);
$gray-clr-900: hsl(0, 0%, 6%);

// GREEN
$green-clr-700: hsl(186, 100%, 13%);
$green-clr-600: hsl(187, 69%, 24%);
$green-clr-500: hsl(174, 27%, 58%);
$green-clr-400: hsl(164, 93%, 94%);

// PURPLE
$secondary-clr-900: #3c044e;
$secondary-clr-800: #560671;
$secondary-clr-700: #710794;
$secondary-clr-600: #8b09b7;
$secondary-clr-500: #a60bda;
$secondary-clr-400: #b432e0;
$secondary-clr-300: #c259e6;
$secondary-clr-200: #d180ec;
$secondary-clr-100: #dfa7f2;
$secondary-clr-50: #e6bbf5;

// BLUE
$primary-clr-50: #d3ebfb;
$primary-clr-100: #acdcff;
$primary-clr-200: #87cdff;
$primary-clr-300: #64beff;
$primary-clr-400: #3daeff;
$primary-clr-500: #189fff;
$primary-clr-600: #1486d6;
$primary-clr-700: #106cad;
$primary-clr-800: #0c5385;
$primary-clr-900: #09395c;
