@import "variables.scss";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: $primary-clr-500;
  color: $white-clr;
  border: none;
  font-size: 1.25rem;
  border-radius: 20rem;
  padding: 0.5rem 1.25rem;
  transition: background 0.2s ease;
  cursor: pointer;

  &:hover {
    background-color: $primary-clr-600;
  }

  &.secondary {
    background: $white-clr;
    color: $gray-clr-900;

    &:hover {
      background: $primary-clr-50;
    }
  }
}
