@import "variables.scss";

.button {
  font-size: 1.1rem;
  text-wrap: nowrap;
  padding: 14px 20px;
  color: $white-clr;
  background: $primary-clr-500;
  border-radius: 0.75rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: relative;

  transition: 0.1s ease-in background;
  cursor: pointer;

  svg {
    color: inherit;

    * {
      color: inherit;
    }
  }

  p {
    color: inherit;
  }
  .add-file {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  &:hover {
    background: $primary-clr-600;
  }

  &.secondary {
    background: $secondary-clr-800;
    color: $primary-clr-300;

    &:hover {
      background: $secondary-clr-900;
    }
  }

  &.outlined {
    border: 1px solid $primary-clr-500;
    color: $primary-clr-500;
    background: transparent;

    &:hover {
      background: rgb($secondary-clr-900, 1);
    }
  }

  &.transparent {
    background: transparent;
    border: none;
    color: inherit;

    &:hover {
      background: rgb($secondary-clr-900, 0.75);
    }
  }

  &.disabled {
    background: $dark-gray-clr;
    // cursor: not-allowed;
    // pointer-events: none;
    color: $light-gray-clr;

    &:hover {
      background: rgb($dark-gray-clr, 0.85);
    }
  }
}
