@import "variables.scss";

.generate-menu {
  background-color: rgb($dark-gray-clr, 1);
  background-image: radial-gradient(
    circle,
    rgb($light-gray-clr, 0.125) 1px,
    $dark-gray-clr 1px
  );
  background-size: 10px 10px;

  width: 100%;
  height: 100dvh;
  overflow: auto;

  &__nav {
    height: fit-content;
    padding: 1rem;
    background: rgb($white-clr, 0.05);
    backdrop-filter: blur(2px);

    .logo {
      max-width: 100px;

      img {
        height: fit-content;
        object-fit: contain;
      }
    }
  }

  &__cards {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(min(clamp(250px, 350px, 450px), 100%), 1fr)
    );
    gap: 1rem;
  }
}
