@import "variables.scss";

.placeholder {
  padding: 0.5rem;
  border-radius: 0.25rem;
  min-width: 150px;
  transition: 0.2s ease background;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: relative;

  .icon {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.2s ease;
    transition-delay: 0.25s;
  }

  &:hover {
    background: rgb($dashboard-border-clr, 0.25);
  }

  &.editable {
    background: rgb($dashboard-border-clr, 1);

    .icon {
      top: -100%;
    }
  }

  .document-title {
    max-width: 10ch;
    width: fit-content;
    border: none;
    background: transparent;

    color: $white-clr;
    font-size: 0.75rem;
    font: inherit;
    position: relative;

    &:focus,
    &:focus-visible {
      outline: none;
    }

    &__span {
      display: block;
      width: 100%;
      text-align: left;
      transition: all 0.2s ease;
    }
  }
}
