@import "variables.scss";

.lang-picker {
  min-width: 7rem;
  height: fit-content;
  position: relative;

  &:hover {
    .langs {
      display: flex;
    }
  }

  .current {
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    gap: 0.25rem;
    height: fit-content;
    padding: 0.5rem 0.5rem;
    border-radius: 0.25rem;
    background: $white-clr;
    outline: 1px solid $dark-gray-clr;
    color: $dark-gray-clr;

    svg,
    path {
      color: white;
    }

    & > p {
      color: white;
    }
  }

  .langs {
    backdrop-filter: blur(5px);
    background: rgb($light-gray-clr, 0.125);

    outline: 1px solid $secondary-clr-500;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 0.25rem 0.25rem;
    position: absolute;
    top: 100%;
    display: none;

    a {
      width: 100%;
      transition: 0.2s ease background;
      padding: 0.5rem;

      &:hover {
        background: rgb($light-gray-clr, 0.25);
      }
    }

    a:not(:last-child) {
      border-bottom: 1px solid $secondary-clr-500;
    }

    & p {
      color: white;
    }
  }

  &.editor {
    .current {
      padding: 0.5rem 1rem;
      border-radius: 0.25rem;
      background: rgb($dark-gray-clr, 1);
      outline: 1px solid rgb($dashboard-border-clr, 1);

      & > p {
        color: white;
      }
    }

    .langs {
      border-radius: 0 0 0.25rem 0.25rem;
      background: rgb($dark-gray-clr, 1);
      outline: 1px solid rgb($dashboard-border-clr, 1);

      a {
        width: 100%;
        transition: 0.2s ease background;
        padding: 0.75rem 0.5rem;
        color: white;

        &:hover {
          background: rgb($dashboard-gray-clr, 0.5);
          p {
            color: white;
          }
        }
      }

      a:not(:last-child) {
        border-bottom: 1px solid rgb($dashboard-border-clr, 1);
      }

      & p {
        color: white;
      }
    }
  }
}
