/* RESET CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  color: #fff;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

img {
  max-width: 100%;
  font-style: italic;
}

:root {
  interpolate-size: allow-keywords;
}
