@import "variables.scss";

.generate__navigation {
  a > img {
    height: 100%;
    object-fit: contain;
  }
}

.gen-ctas {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: 1rem;

  a {
    min-height: 100%;
    width: min-content;
  }

  .button {
    min-height: 100%;
    width: fit-content;
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}
